<div class="login-container">
    <h2>Entrar na Conta</h2>
    <div class="container text-center">
        <a href="index.html"><img src="../../../public/assets/logo2.png" class="w-50" alt=""></a>
    </div>
    <form>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Lembrar-me</label>
        </div>
        <button type="submit" class="btn btn-login text-white">Entrar</button>
        <a href="#" class="forgot-password">Esqueceu sua senha?</a>
        <p class="signup-link">Não tem uma conta? <a href="#" data-component="signup">Cadastre-se</a></p>
    </form>
</div>